body dialog{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

dialog p{
    font-weight: 700;
    margin-top: 1em;
}

dialog button {
    border:  none;
    background-color: transparent;
    font-size: 1.5em;
}

.form-shipping{
    display: flex;
}

.intro {
    margin-top: 100px;
}

.intro p,h2{
    text-align: center;
    margin: 16px 0 16px 0;
}

nav{
    background-color: #fff;
}

.card-ship{
    width: 350px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.nav-button{
    color: black;
}

.card-user{
    padding: 16px;
    min-width: 375px;
}